<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dati Verbali</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Dati Verbali</h1>
        <h2>Anagrafica</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Anagrafica</th>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Indirizzo</th>
                    <th>Città</th>
                    <th>CAP</th>
                    <th>Codice Fiscale</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
        <h2>Tipo Violazione</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Violazione</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>

        <h2>Verbale</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Verbale</th>
                    <th>Data Violazione</th>
                    <th>Indirizzo Violazione</th>
                    <th>Nominativo Agente</th>
                    <th>Data Trascrizione Verbale</th>
                    <th>Importo</th>
                    <th>Decurtamento Punti</th>
                    <th>ID Anagrafica</th>
                    <th>ID Violazione</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>